/* src/components/Footer.css */

.footer {
    background-color: #003C43; /* Same primary color as navbar */
    color: #E3FEF7;
    text-align: center;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    margin-left: -120px;
    z-index: 1001;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .footer {
      padding: 10px 20px;
    }
  
    .footer p {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .footer p {
      font-size: 12px;
    }
  }
  